{% extends 'layout/mobile.html' %}
{% block content %}

<h2>{{ _('History') }}</h2>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ _('History') }}</h3>
    </div>
    <!-- panel-heading -->

    <div class="panel-body">
        <div class="table-responsive">
            <table id="datatable" class="table table-hover table-striped">
                <thead>
                    <th>{{ _('No.') }}</th>
                    <th>{{ _('Date time') }}</th>
                    <th>{{ _('User') }}</th>
                    <th>{{ _('Message') }}</th>
                    <th>{{ _('IP') }}</th>
                </thead>
                <tbody>
                    {% for h is history %}
                    <tr>
                        <td>{{ h.hid }}</td>
                        <td>{{ h.user_id }}</td>
                        <td>{{ h.datetime | datetimefilter }}</td>
						<td>{{ h.message }}</td>
						<td>{{ h.ip }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- panel-body -->

</div>

{% endblock %}
