{% extends 'layout/mobile.html' %}
{% block content %}
<h2>105學年度下學期課後社團班招生簡章</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ _('Precautions') }}</h3>
    </div>
    <!-- panel-heading -->

    <div class="panel-body">
        <h3>權益聲明</h3>
        <p><strong>為維護全校學生之公平權益，若完成線上報名，但未繳費之學生(包括報名候補學生，若補到正取卻棄權或不繳費)，校方將被迫紀錄學生名單並記點控管，有連續情事之學生將停權處理，以維護所有學生選課權益。再次拜託，請家長在報名截止前，注意貴子弟的社團報名及開班情況，並準時繳費以維護自身及其他學生之權益！(例如：同一天同一時段請勿報名兩項社團(包括報名候補)；社團報名前，請注意時間是否跟校內外其他才藝補習班或活動有所衝突)。在報名時間之內，隨時都可加退選，請勿在報名時間後，再要求退選或退費。如此，將會影響貴子弟以及其他全校學生之權益，再次誠懇拜託，請家長在報名時，依據貴子弟確實可參加社團的時間，審慎報名！謝謝您的配合！</strong>
        </p>

        <h3>報名</h3>
        <ul>
            <li>課後社團報名，統一採網路報名，操作方式可參考「<a href="//www.chps.tn.edu.tw/dokuwiki/activity:afterschool">課後社團活動報名操作說明</a>」</li>
            <li>報名時間：<strong class="text-danger">2月19日(日)上午9：00 ~ 2月21日(二)下午6：00</strong>，請在期限內進行電腦報名或退選，若有成班會在<strong class="text-danger">2月24日(五)</strong>發下繳費通知，有收到通知才需繳費。</li>
            <li>如您的家中沒有網路可使用，歡迎您在2月19日(日)上午9：00 ~ 11：00，至進學國小學務處，自行使用電腦報名。(當日一位教師值日，只能給予部分協助，無法幫忙報名，敬請見諒)</li>
            <li>如對課程有任何疑問或有需用材料不清楚者，請您在報名前電話詢問各社團指導老師。</li>
            <li>所有社團(音樂類別除外)，需滿9人才能成班，招收至15人額滿，音樂類別社團需滿6人才能成班，招收至10人額滿。</li>
            <li>如您有報名上的問題，請洽詢：06-2133007轉821，衛生組郭老師。</li>
        </ul>

        <h3>繳費</h3>
        <ul>
            <li>繳費時間：<strong class="text-danger">3月1日(三) ~ 3月2日(四)</strong>，煩請將費用繳至學務處。(超過期限未繳費視同放棄，由候補學生遞補，請您務必審慎報名)</li>
            <li>家長在確實收到「課後社團活動報名費收據」後，才算繳費成功，可以上課，如未收到，則貴子弟無法上課。</li>
            <li>若有已報名學生未繳費的情況，則由候補學生遞補，校方會以電話通知候補學生家長繳費，若未接到電話通知，則代表已經額滿，敬請見諒。</li>
            <li>繳費成功後，請準時前往上課，不另通知。請準時接送孩子上下課。</li>
        </ul>

        <h3>上課</h3>
        <ul>
            <li>上課時間：<strong class="text-danger">106年3月6日(一) ~ 106年6月9日(五)</strong>。<strong>(羽球A、B、C班3/15開始上課)、(游泳A、B班5/3開始上課)</strong></li>
            <li>本學期4/1(六)、4/3(一)、4/4(二)、5/27(六)、5/29(一)、5/30(二)、6/3(六)停課。</li>
            <li>若遇到颱風假公布停課，則本校社團立即停課，所有社團延後一週在同一時間補課，請家長及社團老師注意。</li>
            <li>學生因病或因事請假，請主動告知任課老師，不另外補課或退費。</li>
            <li>戶外課程（如籃球、直排輪、扯鈴、樂樂足球...等）若遇到下雨天，則使用學校預留的雨備場地，照常上課，避免一再補課卻又下雨。</li>
            <li>依台南市社團管理辦法規定，社團編班方式得視兒童人數採混齡編班。</li>
        </ul>
    </div>
    <!-- panel-body -->

</div>
{% endblock %}
